.markdown-source-view, .markdown-preview-view {
  max-width: 900px;
  margin: auto;
}

p{
  padding-top: 6px;
  padding-bottom: 6px;
  line-height: 1.9;
}
 
li{
  padding-top: 6px;
  padding-bottom: 6px;
  line-height: 1.75;
}
 
div.cm-content {
  padding-top: 6px;
  padding-bottom: 6px;
  line-height: 1.75;
}
 
span.cm-list-1 {
  padding-top: 6px;
  padding-bottom: 6px;
  line-height: 1.75;
}

.mod-cm6 .cm-editor .HyperMD-header, .markdown-reading-view .markdown-preview-section :is(h1,h2,h3,h4,h5,h6) {
    line-height: 1em !important;
    margin:2px 0px 2px 0px !important;
    padding: 1px 0px 2px 0px !important;
}
